body{
	margin: 0;
	padding: 0
}

label {
  display: block;
}
select {
  width: 200px;
}

.res-col {
	margin-left: 30px;
}
.title {
	font-weight: bold;
	color: rgb(16, 59, 169);
}
.town {
	margin-top: 50px;
}
input.button {
	margin-top: 20px;
}
#date {
	font-weight: bold;
	font-family: Verdana,Arial,sans-serif;
}

.loading div {
	background: white;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	opacity: 0.6;
	margin: 0 auto;
}
.loading img {
	position: absolute;
	width: 128px;
	height: 128px;
	left: 50%;
	top: 50%;
	margin-left: -64px;
	margin-top: -64px;
	z-index: 2;
}

ul.building-order {
	margin-top: 0;
	padding-left: 20px;
	margin-bottom: 0;
}

div.buildingOrders {
	cursor: pointer;
}

div.horizontal ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
div.horizontal, div.horizontal li, div.horizontal li label {
	display: inline-block;
}
div.horizontal li {
	padding-right: 10px;
}

.dialog-button {
	margin-top: 40px;
	position: relative;
	float: right;
}

.error {
	display: none;
	margin-top: 10px;
}
.error.select-unit-type {
	color: red;
}

.buildUnit {
	height: 29px;
	width: 70px;
	text-align: center;
	padding-right: 5px;
	position: relative;
	top: 1px;
}

.disabled {
	color: gray;
}