body{
	margin: 0;
	padding: 0
}
ul {
	list-style-type: none;
	padding: 0;
}
.clear {
	clear: both;
}
.sample {
	display: none;
}
.toolbar {
	float: left;
	margin-top: 5px;
	display: inline-flex;
}
.toolbar button {
	margin-right: 5px;
}
.red {
	color: red;
}
.green {
	color: green;
}
.bg-blue {
	background: none repeat scroll 0% 0% #E4E4FF !important;
}
.bg-pink {
	background: none repeat scroll 0% 0% #FFC2CD !important;
}
.bg-green {
	background: none repeat scroll 0% 0% #53A75A  !important;
}
.bg-gray {
	background: none repeat scroll 0% 0% #C0C0C0 !important;
}
.bg-orange {
	background: none repeat scroll 0% 0% #FBB77D !important;
}
.left {
	float: left;
}
.right {
	float: right;
}
.click-able {
	cursor: pointer;
}
.error {
	display: none;
}
.disabled {
	opacity: 0.5;
}
.click {
	cursor: pointer;
}

/* Loading */
.loading div {
	background: white;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9999;
	opacity: 0.6;
	margin: 0 auto;
}
.loading img {
	position: absolute;
	z-index: 99999;
}


/* Towns list */
ul.towns-list {
	overflow-y: scroll;
	height: 430px;
}
ul.towns-list li, ul[name="resInput"] li, ul[name="resBar"] li, ul[name="statusBar"] li {
	display: inline-block;
}
ul.towns-list > li {
	margin-top: 5px;
	margin-right: 5px;
}
ul.towns-list li div.town-block, div.town-block {
	min-width: 270px;
	font-size: 14px;
	border-radius: 4px;
	border: 1px solid #aaaaaa;
	background: #ffffff url("../images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
	color: #222222;
	padding: 5px;
}
ul.town-info li {
	display: block;
	margin-top: 3px;
}
div.town-block.from {
	margin-right: 10px;
}

/* Title */
span.title {
	font-weight: bold;
	color: darkblue;
}

/* Block header */
h4.header {
	padding: 5px;
	margin: 0 0 5px 0;
	border-radius: 4px;
	border: 1px solid #aaaaaa;
	background: #cccccc url("../images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
}
/* Block toolbar */
.block-toolbar {
	margin-top: 5px;
	float: right;
}

/* Dialogs */
.dialogs {
	display: none;
}
#dialogUnits > div {
	width: 600px;
}
.units-list h4 {
	margin: 0;
}
.units-list ul  {
	margin: 0;
}
.units-list ul li {
	display: inline-block;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#dialogTrade > div {
	width: 320px;
}
.ui-dialog { z-index: 999 !important ; overflow: visible;}
.ui-selectmenu-open { z-index: 9999 !important ;}
.ui-menu { max-height: 300px !important; }


/* Gradient transparent - color - transparent */
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Textbox */
.inputs {
    height: 33px; 
    width: 60px; 
    background-color: transparent;  
    border-style: solid;  
    border-width: 0px 0px 1px 0px;  
    border-color: darkred; 
    outline:0; 
	text-align: right;
	padding-right: 5px;
}

/* Logging */
.logs {
	width: 700px;
	height: 500px;
	overflow: scroll;
}

/* building-list */
.building-list td {
	padding: 10px;
	text-align: center;
}
.building-list td span.gray {
	color: gray;
}

/* Footer */
.footer {
	position: fixed;
	bottom: 0;
	background-color: white;
	width: 100%;
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0 10px 25px 5px rgb(60, 60, 60);
}
.ui-tabs .ui-tabs-panel {
	padding-bottom: 120px !important;
}

/* normal-selection */
.normal-selection {
	width: 300px;
	margin-right: 5px;
}

/* Status bar */
.server-time, .status {
	float: left;
	font-size: 15px;
}
.server-time {
	float: right;
}
ul[name=statusBar] {
	margin-bottom: 0px;
	margin-top: 0px;
}

/* Logs */
#txtLogs td.time {
	color: gray;
	font-size: 12px;
	min-width: 60px;
	border-right: 1px gray solid;
	padding-right: 5px;
	text-align: right;
}
#txtLogs td.content {
	padding-left: 5px;
}